:root {
    --theme-color: white;
    --primary-color: #124f88;
    --secondary-color: #f7c331;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3a4460;
}

section[id] {
    scroll-margin-top: 70px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}